/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 90px;
  width: calc(100% - 230px);
  background-color: #080B12;
  opacity: 0.8;
  position: fixed;
  right: 0;
}

.nav {
  width: 230px;
  height: 100%;
  background-color: black;
}

main {
  height: calc(100vh - 88px);
  background-color: #141922;
  overflow: auto;
  display: flex;
}

.principal {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.scroll {
  width: 10px;
  height: 100%;
  background-color: #282828;
}

footer {
  height: 88px;
  width: 100%;
  background-color: #282828;
}

p {
  color: white;
}



/****************************************
***************RESPONSIVE***************/

@media screen and (max-width: 500px) {
  header {
    width: calc(100% - 80px);
  }
  .nav-50 {
    width: 80px;
  }
}