/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 90px;
  width: calc(100% - 230px);
  background-color: #080B12;
  opacity: 0.8;
  position: fixed;
  right: 0;
}

.nav {
  width: 230px;
  height: 100%;
  background-color: black;
  
}

main {
  height: calc(100vh - 88px);
  display: flex;
  overflow: auto;
  background-color: #141922;
}

.principal {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.scroll {
  width: 10px;
  height: 100%;
  background-color: #282828;
}

footer {
  height: 88px;
  width: 100%;
  background-color: #282828;
}

p {
  color: white;
}

.container {
  width: calc(100% - 260px);
  margin-top: 100px;
}

.box {
  width: 200px;
  height: 200px;
  background-color: blue;
}

/* MAIN */

/* Logo */
.container-left {
  width: calc(100% - 20px);
  height: 100%;
  margin: 10px auto;
  background-color: yellow;
}

.logo {
  width: 150px;
  height: 70px;
  background-color: blue;
  margin-bottom: 10px;
}

.menu-left {
  height: 90px;
  background-color: red;
  border: 1px solid;
  margin-bottom: 20px;
}


/****************************************
***************RESPONSIVE***************/

@media screen and (max-width: 500px) {
  header {
    width: calc(100% - 80px);
  }
  .nav-50 {
    width: 80px;
  }
}