/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  height: 90px;
  width: calc(100% - 230px);
  background-color: #080B12;
  opacity: 0.8;
  position: fixed;
  right: 0;
  display: flex;
  justify-content: right;
  align-items: center;
}

main {
  height: calc(100vh - 88px);
  display: flex;
  overflow: auto;
  background-color: #141922;
}

footer {
  height: 88px;
  width: 100%;
  background-color: #282828;
}

.button {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid white;
  color: white;
}

p {
  color: white;
}

/* HEADER */

.cont {
  width: 300px;
  height: 60px;
  margin-right: 20px; 
  text-align: center;
}


/* MAIN */

.principal {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* Logo */

.nav {
  width: 230px;
  height: 100%;
  background-color: black;
}

.container-left {
  width: calc(100% - 20px);
  margin: 10px auto;
  background-color: yellow;
}

.logo {
  width: 150px;
  height: 70px;
  background-color: blue;
  margin-bottom: 10px;
}

.menu-left {
  height: 90px;
  background-color: red;
  border: 1px solid;
  margin-bottom: 20px;
}

/* Album */
.container {
  width: calc(100% - 260px);
  padding-top: 100px;
  overflow: scroll;
  display: flex; 
  background-color: yellow;
  flex-direction: column;
}

.container .nav-main {
  margin: 0 auto;
  display: flex;
  width: 45%;
  height: 5%;
  background-color: red;
}

.container .nav-main ul {
  list-style: none;
  display: flex;
}

.container .nav-main ul li {
  margin-left: 20px;
  text-transform: uppercase;
}

.container .nav-main ul a {
  text-decoration: none;
  color: white;
}

.container .nav-main ul a:hover {
  box-shadow: 0px 2px 0px green;
}

.container h2 {
  margin-top: 30px;
}

.container-box {
  display: flex;
  flex-wrap: wrap;
  height: 1000px;
  background-color: rosybrown;
}

.box {
  width: 175px;
  height: 175px;
  margin: 25px 5px;
  background-color: blue;
  border: 1px solid;
}

.scroll {
  width: 10px;
  height: 100%;
  background-color: #282828;
}
/****************************************
***************RESPONSIVE***************/

@media screen and (max-width: 500px) {
  header {
    width: calc(100% - 80px);
  }
  .nav-50 {
    width: 80px;
  }
}